body {
	margin: 0;
	font-family:"open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: rgb(237, 239, 245);
}	

html, body{
	height:100%
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.text-center {
	text-align: center;
}

.breadcrumb {
	padding: 10px 0;
}

.btn-primary {
    background-color: #0e9aef;
    border-color: #0e9aef;
    color: #FFF;
    &:active, &:hover, &:focus {
    	background-color: darken(#0e9aef, 5%);
    	border-color: darken(#0e9aef, 5%);
    }
}
