<div class="jumbotron" ng-controller="LoginController">
	<div class="container">
		<div style="width:300px;margin-left: auto; margin-right: auto;">
			<br/><br/><br/>
			<div style="padding:20px;background-color: #ffffff; border-radius: 8px; box-shadow: 0 12px 30px darkgrey;">
			<h1 style="text-align: center">Login</h1>
			<br/>
			<div ng-show="error" class="alert alert-danger">{{error}}</div>
			<form name="form" ng-submit="login()" role="form">
				<div class="form-group">
					<label for="username"><h2>Username</h2></label>
					<input type="text" name="username" id="username" class="login-input form-control" ng-model="username" required />
					<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
				</div>
				<div class="form-group">
					<label for="password"><h2>Password</h2></label>
					<input type="password" name="password" id="password" class="login-input form-control" ng-model="password" required />
					<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
				</div>
				<br/>
				<div class="form-actions">
					<button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger btn-block">Login</button>
				</div>
			</form>
			</div>
		</div>
	</div>
</div>
