<div id="overview" class="animated fadeInRight">
	<div class="row chartGroup">
		<h1>Overview</h1>
		<hr style="margin-top: 5px;"/>
		<div class="col-sm-4" ng-controller="pcpuCtrl">
			<h3 style="margin-left:60px">CPU</h3>
			<canvas id="pcpu" class="chart chart-doughnut" 
			  chart-data="data" chart-labels="labels" chart-legend="false">
			</canvas>
		</div>
		<div class="col-sm-4" ng-controller="pmemCtrl">
			<h3 style="margin-left:60px">MEM</h3>
			<canvas id="pmem" class="chart chart-doughnut" chart-data="data"
			  chart-data="data" chart-labels="labels" chart-legend="false">
			</canvas> 
		</div>
		<div class="col-sm-4" ng-controller="pnetCtrl">
			<h3 style="margin-left:60px">NET</h3>
			<canvas id="pnet" class="chart chart-doughnut" chart-data="data"
			  chart-data="data" chart-labels="labels" chart-legend="false">
			</canvas> 
		</div>
	</div>
	<div class="tableGroup" ng-controller="tableCtrl">
		<div id="tableBack">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Image</th>
						<th>Slave</th>
						<th>Cpus</th>
						<th>Memory</th>
					</tr>
					</thead>
					<tbody>
					<tr class="read" ng-repeat="task in data" ng-click="rowClick(task.id)">
						<td>{{task.id}}</td>
						<td class="mail-subject">{{task.name}}</td>
						<td>{{task.docker_image}}</td>
						<td>{{task.slave_hostname}}</td>
						<td>{{task.cpus}}</td>
						<td>{{task.mem}} MiB</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
